<style>
    .text-div{
        margin-bottom: 10px;
    }
</style>

<div class="">
    <h3> Premier League Fan Football rules</h3>
    <div class="text-div">
        <p>Each player must choose a <b>Favorite Team</b> during his registration.</p>

        <p>The player will be added automatically to the fan group of this <b>Favorite Team</b>.</p>
    </div>

    <div>
        <p>The <b>“Upcoming Matchday”</b> is the first of the next Matchdays from which no game has started.</p>
        <p>When a game starts from one Matchday it becomes "Current Matchday".</p>
        <p>The Matchday after the "Current" becomes "Next Matchday". </p>
    </div>
</div>
