@using PLF_Football.Common
@{
    this.ViewData["Title"] = "Home Page";
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome to @User.Identity.Name team page!</h1>
    </div>
}

