@using PLF_Football.Common

<style>
    .index-text{
        padding-top: 100px;
        color: gray;
    }
</style>
<div class="container" style="width: 100vw; height: 70vh">

    @if (User.Identity.IsAuthenticated && User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        <div class="text-center bg">
            <h1 class="display-3 index-text">Admin Home Page</h1>
        </div>
    }
    else if (User.Identity.IsAuthenticated)
    {
        <div class="text-center">
            <h1 class="display-3 index-text">@User.Identity.Name Home Page</h1>
        </div>
    }
    else
    {
        <div class="text-center">
            <h1 class="display-3 index-text">Welcome to <span class="display-2" style="color:darkslateblue">@GlobalConstants.SystemName</span></h1>
        </div>
    }
</div>

        