@using PLF_Football.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="container" style="width: 100vw; height: 70vh">
    @if (!User.Identity.IsAuthenticated)
    {
        <div class="text-center">
            <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
        </div>
    }
    else
    {
        <div class="text-center">
            <h1 class="display-4">@User.Identity.Name team, Come on!</h1>
        </div>
    }
</div>

    