@using PLF_Football.Common

<style>
    .index-text{
        padding-top: 100px;
        color: gray;
    }
    .body-text {
        color: gray;
        font-size: 24px;
    }
</style>
<div class="container" style="width: 100vw; height: 70vh">

    @if (User.Identity.IsAuthenticated && User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        <div class="text-center bg">
            <h1 class="display-3 index-text">Admin Home Page</h1>
        </div>
    }
    else if (User.Identity.IsAuthenticated)
    {
        <div class="text-center">
            <h1 class="display-3 index-text">@User.Identity.Name Home Page</h1>
        </div>
    }
    else
    {
    <div class="text-center">
        <h1 class="display-3 index-text">
            Welcome to <span class="display-2" style="color:darkslateblue">@GlobalConstants.SystemName</span>
        </h1>

        <div class="body-text">
            <p>
                Funny and easy game for Football Fans with simple <a asp-action="GameRules">rules</a>.
            </p>
            <p>
                Just <a asp-area="Identity" asp-page="/Account/Register">register</a> or <a asp-area="Identity" asp-page="/Account/Login">login</a> and enjoy!
            </p>
        </div>

    </div>
    }
</div>

        