@model PLF_Football.Web.ViewModels.Administration.UpdateCountViewModel

<div class="container bg">
    <br />
    <h2>Update Done!</h2>
    <hr />
    <h4>@Model.UpdatedFixturesCount fixtures updated</h4>
    <h4>@Model.UpdatedPlayersCount players updated</h4>
    <hr />
</div>