/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
a {
    color: indigo;
}
a:hover{
    text-decoration: none;

}
.navbar-nav{
    align-items: center;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}
.container-footer{
    align-items: end;
}

.container-clubs {
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid grey;
}

.container-player-profile {
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px 40px;
}
.container-player-profile .row {
    justify-content: space-between;
}

.card-stat{
    padding-top: 10px;
}

.bg {
    position: relative;
}


table .text {
    font-size: large;
}

table .text-end {
    text-align: end;
}

.bg:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -10%;
    background-image: url("/image/Common/pl.png");
    background-repeat: no-repeat;
    width: 120%;
    min-height: 84vh;
    opacity: 0.3;
    z-index: -1;
}
