@model PLF_Football.Web.ViewModels.ApplicationUsers.UserProfileViewModel
@{
    this.ViewData["ClubImg"] = @Model.FavoriteTeamName.ToLower();
}
<style>
    .bg-team::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('/image/Club/@(this.ViewData["ClubImg"]).png');
        width: 100%;
        height: 100%;
        background-position: center;
        opacity: 0.6;
        z-index: -1;
    }
</style>
<div class="bg-team">

</div>
