@model PLF_Football.Web.ViewModels.ViewComponents.ClubLinksInListViewModel

<div class="container col-12">
    <ul class="row list-inline justify-content-around">

        @foreach (var club in Model.Clubs)
        {
        <li hre>
            <a asp-controller="Clubs" asp-action="ById" asp-route-id="@club.Id">
                <img src="@club.BadgeUrl" alt="Alternate Text" style="width:40px" />
            </a>
        </li>
        }
    </ul>
</div>
